.catalog {
  background-color: var(--extra-background);
  padding-top: 125px;
  padding-bottom: 70px;

  @media (max-width: $desktop-width){
    padding-top: 36px;
    padding-bottom: 22px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 12px;
  }
}

.catalog__wrapper {
  max-width: 1126px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;


  @media (max-width: $desktop-width) {
    margin-left: 35px;
    margin-right: 35px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.catalog__heading {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  @media (max-width: $desktop-width) {
    font-size: 24px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $desktop-width) {
    padding-top: 16px;
    padding-right: 28px;
    padding-left: 28px;
  }

  @media (max-width: $tablet-width) {
    padding-right: 0;
    padding-left: 0;
  }

  li {
    padding: 0;
    padding-bottom: 98px;
    max-width: 342px;

    @media (max-width: $desktop-width) {
      padding-bottom: 31px;
    }

    @media (max-width: $tablet-width) {
      padding-right: 10px;
      padding-left: 8px;
      padding-bottom: 24px;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--basic-type);
    text-decoration: none;

    &:hover, &:focus {
      h3 {
        color: var(--hover-accent);
        text-shadow: 2px 2px 3px var(--menu-background);
      }

      img {
        box-shadow: 0 0 20px var(--hover-accent);
      }
    }
  }
}

.catalog__link {
  position: relative;

  h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.5px;
    text-align: center;
  }

  &--roadster {
    top: 10px;

    @media (max-width: $desktop-width) {
      top: 0;
    }

    img {
      height: 503px;
    }

    &::before {
      content: "";
      display: block;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border-width: 27px;
      border-color: var(--main-accent);
      border-style: solid;
      position: absolute;
      left: -60px;
      top: 156px;
      z-index: 0;

      @media (max-width: $desktop-width) {
        width: 127px;
        height: 127px;
        border-width: 18px;
        top: 201px;
        left: -36px;
      }

      @media (max-width: $tablet-width) {
        left: -24px;
      }
    }
  }

  &--mountain {
    top: 39px;

    @media (max-width: $desktop-width) {
      top: 0;
    }

    img {
      height: 566px;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 47px;
      height: 47px;
      border-width: 8px;
      border-color: var(--main-accent);
      position: absolute;
      border-style: solid;
      z-index: 2;

      @media (max-width: $desktop-width) {
        display: none;
      }
    }

    &::before {
      left: -19px;
      top: -18px;
    }

    &::after {
      top: 542px;
      right: -23px;
    }
  }

  &--kids {
    &::before {
      content: "";
      display: block;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      border-width: 17px;
      border-color: var(--main-accent);
      border-style: solid;
      position: absolute;
      right: -36px;
      top: -32px;
      z-index: 2;

      @media (max-width: $desktop-width) {
        width: 68px;
        height: 68px;
        border-width: 13px;
        top: -20px;
        right: -25px;
      }

      @media (max-width: $tablet-width) {
        right: -15px;
      }
    }

    img {
      height: 513px;
    }
  }

  img {
    object-fit: cover;
    position: relative;
    z-index: 1;
    border-radius: 10px;

    @media (max-width: $desktop-width) {
      width: 270px;
      height: 300px;
    }
  }

  &:focus-within {
    outline: none;
  }
}
